* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* Common Element Styles starts here*/
.container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
}

.title-bold {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 6px;
    color: #FFC178;
    text-transform: uppercase;
    text-align: left;
}

/* Common Element Styles ends here */


/* Nav Bar starts here  */
#navBar {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 30px 0px;
    position: absolute;
}

.nav-wrapper {
    justify-content: space-between;
}

.nav-wrapper img {}

.nav-menu {}

.nav-menu ul {
    display: flex;
    flex-direction: row;
}

.nav-menu li {
    margin-left: 60px;
}

.nav-menu li a {
    color: white;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.3s linear;
}

.nav-menu li a:hover {
    color: black;
}

/* Nav Bar ends here  */

/* Banner Section starts here */
#banner {
    background: url(../images/background-img.jpg) no-repeat center center/cover;

}

.banner-wrapper {
    padding: 462px 0px;
    flex-direction: column;
}

.banner-wrapper h1 {
    font-size: 96px;
    line-height: 100px;
    font-weight: 700;
    text-transform: capitalize;
    color: white;
}

.banner-wrapper span {
    font-weight: 400;
    font-size: 88px;
    display: block;
}

/* Banner Section ends here */ 